$primary-color: #3d6ebd;
$secondary-color: #7bdeff;
$text-color: #2b2d42;
$bg-color: #f8f9fb;
$white: #fff;
$gray: #555;
$box-shadow-color: #b3b3b3;
$focus-outline-color: $secondary-color;
$sidebar-bg-color: #edf2f7;
